.new-todo {
    display: flex;
}

.new-todo > div {
    /* flex: 1; */
    padding: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.todoList {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e83434;
}

.todoList th, .todoList td {
    border: 1px solid #e83434;
    padding: 8px;
    text-align: center;
}

.thead {
    background-color: #858181;
}